<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.com.hwool.hermitageintelligenceagency">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_custom_circle"
        android:supportsRtl="true"
        android:theme="@style/HIATheme">
        <activity android:name="au.com.hermitagewool.views.NewsDetailActivity"></activity>
        <activity
            android:name="au.com.hermitagewool.views.MainActivity"
            android:theme="@style/HIATheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="au.com.hermitagewool.services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="au.com.hermitagewool.views.ScanActivity" />
        <activity
            android:name="au.com.hermitagewool.views.AddressDetailsActivity"
            android:parentActivityName="au.com.hermitagewool.views.MainActivity" />
        <activity
            android:name="au.com.hermitagewool.views.CustomiseQuiltActivity"
            android:parentActivityName="au.com.hermitagewool.views.AddressDetailsActivity" />
        <activity
            android:name="au.com.hermitagewool.views.ConfirmOrderActivity"
            android:parentActivityName="au.com.hermitagewool.views.CustomiseQuiltActivity" />
    </application>

</manifest>